@use "../abstracts/colors";
.sketch {
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // max-width: 1400px;
  // margin-left: auto;
  // margin-right: auto;
}
.sketch-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.sketch-boardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
}
