.node {
  display: flex;
  // justify-content: center;
  // align-items: center;

  width: 24px;
  height: 24px;
}
.nodeGridLines {
  border: 1px solid rgb(156, 156, 156);
}
.noGridLines {
  border: none;
}
.colored-node {
  background-color: red;
}
